@import url("fonts.css");

@font-face {
    font-family: dancing;
    src: url(fonts/DancingScript-Regular.ttf);
}

body{
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100vh;
    width: 100%;
    background: url(Wintery-Sunburst.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(230, 230, 165);
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.formContainer, .feel{
    display: flex;
    flex-direction: column;
}

.formContainer{
    width: 40%;
}

.holder{
    padding: 10px;
}

.holder.entry{
    width: 30%;
    overflow-y: scroll;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.6);
}

.entryHolder{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.working{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.ui.segment{
    height: 0;
}

.holder{
    background-color: rgba(0, 0, 0, 0.6);
}

.entry{
    background: rgba(59, 74, 107, .4);
}

#generate{
    margin: 10px auto;
    width: 40%;
    background-color: lightgrey;
    border: 0;
    border-radius: 30px;
    box-shadow: none;
}

#generate:hover{
    background-color: lightblue;
    color: white;
}

#date{

}

#temp{

}

#content{

}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: dancing;
    font-size: 100px;
    height: 200px;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 70% !important;
    background:#22b2da;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    /* width: 400px; */
    height: 100px;
    background: #3b4a6b;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 93% !important;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}